<section id="banner">
  <div class="banner_bg">
    <ul class="banner_slide">
      {% for banner in section.blocks %}
        <li>
          <a href="{{ banner.settings.link }}">
            <img src="{{ banner.settings.image | img_url: 'master' }}" alt="">
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Banner Section",
  "settings": [],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Banner Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}



