<!------------------------ 下層ファーストビュー ---------------------->
<section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>求人情報</h1>
        <span>RECRUITMENT</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
    <img class="under_nami" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_nami.png" alt="">
</section>


<section id="company">
    <div class="section_inner">
        <table>
            <tr>
                <th>業種</th>
                <td>鮮魚ルート配送兼商品PR営業（未経験者OK）</td>
            </tr>

            <tr>
                <th>給与</th>
                <td>月収：200,000～300,000円<br>
                ※③3ヶ月有（期間中1,000円）<br>
                ※能力により試用期間短縮もあり<br>
                ※経験者は給与相談可</td>
            </tr>

            <tr>
                <th>業務内容</th>
                <td>取引先からの商品受注・準備・納品がメインのお仕事です。</td>
            </tr>

            <tr>
                <th>資格</th>
                <td>学歴不問、要運免</td>
            </tr>

            <tr>
                <th>待遇</th>
                <td>能力により昇給有、無料駐車場有、有給休暇、制服、社保、販売手当</td>
            </tr>

            <tr>
                <th>業務時間</th>
                <td>8:00～17:00（実働8h）</td>
            </tr>

            <tr>
                <th>休日</th>
                <td>週休2日制（日曜・水曜、祝日）<br>
                ﻿祝日を含む週は水曜日出勤<br>
                ﻿正月、旧盆、1行事の休み相談可</td>
            </tr>

            <tr>
                <th>応募方法</th>
                <td>電話連絡の上、履歴書（写貼）持参</td>
            </tr>

            <tr>
                <th>その他</th>
                <td>異業種からの転職・未経験者大歓迎！！</td>
            </tr>
        </table>

        <div class="contact_tel">
            <div class="section_title3">
                <h2>是非ご応募ください</h2>
            </div>
            <a href="tel:098-994-6277"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/contact_tel.svg" alt="">098-994-6277</a>
            <p class="is_pc">■営業時間：8:00〜17:00 | ■休日：水曜日・日曜・祝祭日</p>
            <p class="is_sp">■営業時間：8:00〜17:00<br>■休日：水曜日・日曜・祝祭日</p>
        </div>

    </div>
</section>