  <!------------------------ 下層ファーストビュー ---------------------->
  <section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>取扱商品</h1>
        <span>LINE UP</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
</section>

<!------------------------ ページ内リンク ---------------------->

<section id="page_link">
    <div class="section_inner_00 section_inner">
        <a href="#">カテゴリ1</a>
        <a href="#">カテゴリ2</a>
        <a href="#">カテゴリ3</a>
    </div>
</section>


